<% if logged_in? %>
  <%= link_to "New post", new_post_path %>
<% else %>
  <%= link_to "Log in", login_path %>
  <%= link_to "Sign up", new_user_path %>
<% end %>

<h1>Posts</h1>

<ul>
  <%= render @posts %>
</ul>

<% if logged_in? %>
  <h2>Users</h2>

  <ul>
    <%= render @users %>
  </ul>
<% end %>
