<% if logged_in? %>
  <%= link_to "New post", new_post_path %>
  <%= link_to "Users", users_path %>
<% else %>
  <%= link_to "Log in", login_path %>
  <%= link_to "Sign up", new_user_path %>
<% end %>

<h1>Posts</h1>

<%= will_paginate %>

<ul>
  <%= render @posts %>
</ul>

<%= will_paginate %>
