<%= link_to "Posts", posts_path %>

<h1>Create new post</h1>

<%= form_for(@post) do |f| %>
  <%= render partial: "shared/error_messages", locals: { form_obj: @post } %>

  <%= f.label :body, current_user.name %>
  <%= f.text_area :body, size: "60x10" %>

  <%= f.submit "Create post" %>
<% end %>
